[submodule "extern/SFMT"]
	path = extern/SFMT
	url = https://github.com/MersenneTwister-Lab/SFMT
	branch = master
[submodule "extern/RotationSampling"]
	path = extern/RotationSampling
	url = https://github.com/idohadi/RotationSampling
	branch = master
[submodule "extern/ALegendreEval"]
	path = extern/ALegendreEval
	url = https://github.com/JamesCBremerJr/ALegendreEval
[submodule "extern/2DhMRA"]
	path = extern/2DhMRA
	url = https://github.com/chaom1026/2DhMRA
[submodule "extern/aspire"]
	path = extern/aspire
	url = https://github.com/PrincetonUniversity/aspire
